* {
  border: 0 none;
  outline: 0 none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: transparent;
}

body {
  direction: rtl;
  text-align: right;
  font-family: 'Tajawal', sans-serif;
  background-color: #F6F6F6;
  color: #333;
}

img {
  max-width: 100%;
}

h3 {
  font-size: 1.5rem;
}

.main_btn {
  background-color: #00D6D1;
  color: #fff;
  font-weight: 500;
  padding: .5rem 1.5rem;
  border-radius: .25rem;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  display: inline-block;
}

.main_btn:hover {
  background-color: #00bdb8;
  color: #fff;
  text-decoration: none;
}

.main_btn.small_btn {
  padding: .5rem;
}

.transparent_btn {
  border: 1px solid #00D6D1;
  padding: .5rem;
  color: #00D6D1;
  border-radius: .25rem;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.transparent_btn:hover {
  background-color: #00D6D1;
  color: #fff;
  text-decoration: none;
}

.secondary_btn {
  background-color: #CCFFFE;
  border-radius: .25rem;
  color: #00a39f;
  padding: .5rem;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.secondary_btn:hover {
  background-color: #b3fffe;
  text-decoration: none;
  color: #00D6D1;
}

.main_form_input {
  height: 2.5rem;
  width: 100%;
  display: block;
  background-color: #f3f3f3;
  border: 1px solid #e6e6e6;
  padding: .5rem;
  border-radius: .25rem;
}

.main_form_input:focus {
  border-color: #00D6D1;
}

.custom_radio {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom_radio input {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  z-index: 2;
  opacity: 0;
}

.custom_radio span {
  content: '';
  border: 2px solid #E6E6E6;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.custom_radio span:before {
  content: '';
  width: .75rem;
  height: .75rem;
  background-color: #00D6D1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 50%;
  opacity: 0;
  -webkit-transform: translate(50%, -50%) scale(1.1);
          transform: translate(50%, -50%) scale(1.1);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.custom_radio input:checked ~ span {
  border-color: #00D6D1;
}

.custom_radio input:checked ~ span:before {
  opacity: 1;
  -webkit-transform: scale(1) translate(50%, -50%);
          transform: scale(1) translate(50%, -50%);
}

.primary, article a {
  color: #00a39f;
}

.bold_font {
  font-weight: 700;
}

.medium_font {
  font-weight: 500;
}

.small_font {
  font-size: .875rem;
}

.color-inherit {
  color: inherit;
}

.grey {
  color: #777;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-weight: 700;
}

article h1 {
  font-size: 2rem;
}

article h2 {
  font-size: 1.5rem;
}

article h3 {
  font-size: 1.25rem;
}

article h4 {
  font-size: 1rem;
}

article blockquote {
  background: #d6fffe;
  padding: 1rem 1.5rem;
  font-style: italic;
  border-right: 1px solid #00D6D1;
}

article a {
  position: relative;
  display: inline-block;
}

article a:before {
  content: '';
  position: absolute;
  bottom: -.1rem;
  right: 0;
  background-color: #00D6D1;
  width: 100%;
  height: 1px;
}

.page_title {
  position: relative;
  display: inline-block;
}

.page_title:before, .page_title:after {
  content: '';
  width: 3.5rem;
  height: 2px;
  position: absolute;
  background-color: #00D6D1;
  top: 50%;
}

.page_title:before {
  right: -50%;
}

.page_title:after {
  left: -50%;
}

.m-b-1 {
  margin-bottom: 0.5rem;
}

.m-t-1 {
  margin-top: 0.5rem;
}

.m-b-2 {
  margin-bottom: 1rem;
}

.m-t-2 {
  margin-top: 1rem;
}

.m-b-3 {
  margin-bottom: 1.5rem;
}

.m-t-3 {
  margin-top: 1.5rem;
}

.m-b-4 {
  margin-bottom: 2rem;
}

.m-t-4 {
  margin-top: 2rem;
}

.m-b-5 {
  margin-bottom: 2.5rem;
}

.m-t-5 {
  margin-top: 2.5rem;
}

.m-b-6 {
  margin-bottom: 3rem;
}

.m-t-6 {
  margin-top: 3rem;
}

.m-b-7 {
  margin-bottom: 3.5rem;
}

.m-t-7 {
  margin-top: 3.5rem;
}

.m-b-8 {
  margin-bottom: 4rem;
}

.m-t-8 {
  margin-top: 4rem;
}

.m-b-9 {
  margin-bottom: 4.5rem;
}

.m-t-9 {
  margin-top: 4.5rem;
}

.m-b-10 {
  margin-bottom: 5rem;
}

.m-t-10 {
  margin-top: 5rem;
}

.m-b-11 {
  margin-bottom: 5.5rem;
}

.m-t-11 {
  margin-top: 5.5rem;
}

.m-b-12 {
  margin-bottom: 6rem;
}

.m-t-12 {
  margin-top: 6rem;
}

.m-b-13 {
  margin-bottom: 6.5rem;
}

.m-t-13 {
  margin-top: 6.5rem;
}

.m-b-14 {
  margin-bottom: 7rem;
}

.m-t-14 {
  margin-top: 7rem;
}

.m-b-15 {
  margin-bottom: 7.5rem;
}

.m-t-15 {
  margin-top: 7.5rem;
}

.m-b-16 {
  margin-bottom: 8rem;
}

.m-t-16 {
  margin-top: 8rem;
}

.m-b-17 {
  margin-bottom: 8.5rem;
}

.m-t-17 {
  margin-top: 8.5rem;
}

.m-b-18 {
  margin-bottom: 9rem;
}

.m-t-18 {
  margin-top: 9rem;
}

.m-b-19 {
  margin-bottom: 9.5rem;
}

.m-t-19 {
  margin-top: 9.5rem;
}

.topbar {
  padding: .5rem 0;
}

.topbar_user a {
  margin-left: 1.5rem;
  color: inherit;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.topbar_user a:hover {
  color: #00D6D1;
}

.social_links a {
  display: inline-block;
  margin-right: 1.5rem;
  color: #BFBFBF;
}

.social_links a:hover {
  color: #00D6D1;
}

#our_navbar {
  background-color: #00D6D1;
  padding: 0;
}

#our_navbar .navbar-brand {
  padding: 0;
  margin: 0;
}

#our_navbar .navbar-brand img {
  width: 5.625rem;
}

#our_navbar .navbar-toggler {
  color: #fff;
  border-color: transparent;
}

#our_navbar .nav-link {
  padding: 0 1rem;
  line-height: 4rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.125rem;
}

#our_navbar .nav-link:hover {
  background-color: #00bdb8;
}

#our_navbar .nav-item.active .nav-link {
  color: #fff;
}

#our_navbar .dropdown-menu {
  text-align: right;
}

.navbar_search_form {
  position: relative;
}

.navbar_search_form input {
  background-color: #00BFBB;
  border-radius: .25rem;
  height: 2.5rem;
  padding-right: .75rem;
  min-width: 250px;
  color: #fff;
}

.navbar_search_form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.navbar_search_form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.navbar_search_form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.navbar_search_form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.navbar_search_form button {
  background-color: #00A6A2;
  color: #fff;
  padding: .25rem .75rem;
  border-radius: .4rem;
  border: 0 none;
  position: absolute;
  left: .25rem;
  top: .25rem;
}

.mobile_menu {
  position: fixed;
  background-color: #3d3d3d;
  right: -200px;
  width: 200px;
  height: 100%;
  z-index: 999;
  top: 0;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.mobile_menu.open {
  right: 0;
}

.mobile_menu input[type=search] {
  background: #272727;
  display: block;
  padding: .75rem 1rem;
  width: 100%;
  color: #fff;
}

.mobile_menu input[type=search]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.mobile_menu input[type=search]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.mobile_menu input[type=search]::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.mobile_menu input[type=search]::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.mobile_menu .nav-link {
  padding: .75rem 1rem;
  display: block;
  color: rgba(255, 255, 255, 0.7);
}

.mobile_menu .nav-item.active .nav-link {
  color: #fff;
}

.mobile_menu .topbar_user {
  padding-top: .75rem;
  border-top: 1px solid #333;
}

.mobile_menu .topbar_user a {
  display: block;
  color: #fff;
  padding: .25rem 1rem;
  margin-left: 0;
}

.mobile_menu .social_links {
  margin-top: 1rem;
  padding-right: 1rem;
}

.mobile_menu .social_links a {
  margin-left: .75rem;
  margin-right: 0;
}

.menu_cart button {
  color: #003d3c;
  font-size: 1.25rem;
}

.menu_cart .badge {
  left: 0;
  font-size: .875rem;
}

.menu_cart .dropdown-menu {
  min-width: 12rem;
  padding: .5rem;
}

.menu_cart .dropdown-menu li img {
  width: 3rem;
}

@media (max-width: 768px) {
  header > .topbar {
    display: none;
  }
}

@media (max-width: 992px) {
  #our_navbar {
    padding: 5px 15px;
  }
}

.main_slider .single_slide {
  height: 370px;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
  overflow: hidden;
}

.main_slider .single_slide [class*=col] {
  height: 100%;
}

.main_slider .single_slide .slide_caption {
  background-color: #00000078;
  height: 100%;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.main_slider .single_slide .slide_caption h3 {
  font-weight: 700;
}

.main_slider .single_slide .slide_caption p {
  color: #E4E4E4;
}

.main_slider .owl-nav button[class*=owl-] {
  width: 4rem;
  line-height: 5rem;
  display: inline-block;
  background-color: #0000007D;
  color: #fff;
  border-radius: .25rem;
  position: absolute;
  font-size: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}

.main_slider .owl-prev {
  right: 0;
}

.main_slider .owl-next {
  left: 0;
}

@media (max-width: 768px) {
  .main_slider .owl-nav button[class*=owl-] {
    width: inherit;
  }
}

.news-holder .news-content {
  position: absolute;
  background: #ededed;
  z-index: 10;
  top: 0;
  right: 15px;
  display: none;
}

.news-holder .news-content img {
  height: 245px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-holder .news-content.top-content {
  display: block;
}

.news-holder .news-headlines {
  height: 213px;
  top: 1rem;
  margin-right: -1.5rem;
  overflow-y: auto;
  padding: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 10px #0000001A;
          box-shadow: 0 0 10px #0000001A;
  border-radius: .25rem;
  position: relative;
  z-index: 99;
}

.news-holder .news-headlines li {
  display: block;
  cursor: pointer;
  padding: 1rem;
  font-weight: 500;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  z-index: 20;
}

.news-holder .news-headlines li:last-of-type {
  border-bottom: 0 none;
}

.news-holder .news-headlines .nh-anim {
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.news-holder .news-headlines .highlight {
  width: 100%;
  background: #ededed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.news-holder .news_slide_caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #00000096;
  color: #fff;
  padding: 1rem .5rem;
}

.news-holder .news_slide_caption h3 {
  font-size: 16px;
}

.news-holder .news_slide_caption a {
  color: #00D6D1;
  font-weight: 500;
}

@media (max-width: 768px) {
  .news-headlines {
    display: none;
  }
  .news-holder .news-content {
    left: 15px;
  }
}

.widget_head {
  background-color: #00D6D1;
}

.widget_head h3 {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

.widget_head a {
  background-color: #00A6A2;
  color: #fff;
  display: inline-block;
  padding: .5rem;
}

.widget_links {
  padding: 0 1rem;
  background-color: #fff;
}

.widget_links a {
  display: block;
  border-top: 1px solid #e6e6e6;
  padding: .75rem 0;
  color: #333;
}

.widget_links a i {
  color: #A1D6D5;
}

.widget_links a:first-of-type, .widget_links a:last-of-type {
  border: 0 none;
}

.widget_links .all_links {
  font-weight: 500;
  background-color: #F2FFFF;
  margin: 0 -1rem;
  padding: .75rem 1rem;
}

.counter_section {
  background-color: #F8FFFF;
  padding: 1.5rem 0;
}

.counter_panel {
  text-align: center;
}

.counter_panel span {
  width: 7rem;
  height: 7rem;
  line-height: 7rem;
  font-size: 3rem;
  text-align: center;
  display: inline-block;
  color: #6BD6D4;
  background: url("../imgs/Polygon 1.png") no-repeat;
}

.counter_panel p {
  color: #00D6D1;
  font-size: 2rem;
  font-weight: 700;
}

.counter_panel h3 {
  font-weight: 700;
}

.event_cover {
  display: block;
  position: relative;
}

.event_cover img {
  height: 167px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.event_cover .event_status {
  position: absolute;
  left: 1.25rem;
  padding: .25rem .5rem;
  border-radius: .25rem;
  font-size: .875rem;
  color: #fff;
  top: .5rem;
}

.event_cover .event_status.available {
  background-color: #00D66B;
}

.event_cover .event_status.not {
  background-color: #E23232;
}

.event_cover .event_date {
  background-color: #00000094;
  border-radius: 50%;
  width: 3rem;
  display: inline-block;
  height: 3rem;
  position: absolute;
  bottom: .5rem;
  color: #fff;
  right: .5rem;
  text-align: center;
}

.event_details {
  background-color: #fff;
  padding: 1rem;
  margin-right: -1rem;
  border-radius: .25rem;
}

.event_details h3 {
  font-size: 1rem;
  font-weight: 500;
}

.event_details h3 a {
  color: inherit;
}

.event_details p {
  font-size: .875rem;
}

.event_page .event_cover img {
  height: auto;
}

@media (max-width: 768px) {
  .event_cover img {
    height: 250px;
  }
  .event_cover .event_status {
    left: .5rem;
  }
  .event_details {
    margin: 0;
  }
}

.single_report {
  position: relative;
  color: #fff;
}

.single_report img {
  height: 245px;
  -o-object-fit: cover;
     object-fit: cover;
}

.single_report .bottom_report {
  position: absolute;
  background-color: #00000096;
  bottom: 0;
  width: 100%;
  padding: 1rem .5rem;
}

.single_report .bottom_report h3 {
  font-size: 1rem;
  font-weight: 500;
}

.single_report .bottom_report a {
  color: #00D6D1;
}

.second_slider .owl-nav button[class*=owl-] {
  padding: .25rem .5rem !important;
  background-color: #00000082;
  color: #fff;
  position: absolute;
  font-size: 1.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: .25rem;
}

.second_slider .owl-prev {
  right: -15px;
}

.second_slider .owl-next {
  left: -15px;
}

.partners_section {
  background-color: #fff;
  padding: 2rem 0;
}

.partners_section h2 {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

.single_product_block {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  position: relative;
  top: 0;
  border: 1px solid #e6e6e6;
}

.single_product_block:hover {
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  top: -.25rem;
}

.single_product_block button {
  width: 2rem;
  height: 2rem;
  line-height: 1.5rem;
  border-radius: 50%;
  background-color: #ddd;
  color: #999;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.single_product_block:hover button {
  background: #00D6D1;
  color: #fff;
}

.product_features li {
  margin-bottom: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.product_features li span {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  background-color: #a3fffd;
  color: #00706d;
  border-radius: 50%;
  font-size: .75rem;
  display: inline-block;
  margin-left: .5rem;
  text-align: center;
}

.pagination .page-link {
  border: 0 none;
  background-color: transparent;
  color: #555;
}

.pagination .page-link:hover {
  background-color: #eee;
}

.pagination li.active .page-link {
  background: #00D6D1;
}

.main_breadcrumb a,
.main_breadcrumb span {
  display: inline-block;
  border-radius: .25rem;
}

.main_breadcrumb a:after {
  content: '\f053';
  font-family: 'font awesome 5 pro';
  font-weight: 900;
  margin: 0 .75rem;
  pointer-events: none;
}

.main_breadcrumb a:hover {
  text-decoration: none;
}

.share_news {
  border-bottom: 1px solid #00D6D1;
}

.share_news a {
  color: inherit;
  display: inline-block;
  margin-left: .75rem;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.share_news a:hover {
  color: #00D6D1;
}

.answer_title {
  position: relative;
}

.answer_title:before {
  display: inline-block;
  content: '\f00c';
  font-family: 'font awesome 5 pro';
  font-weight: 900;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  background-color: #2fa400;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  margin-left: .5rem;
  font-size: .875rem;
}

.single_person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single_person img {
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.table {
  font-size: .875rem;
}

.table thead th {
  background: #e0e0e0;
}

.table tr {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.table tr:nth-of-type(even) {
  background-color: #f2f2f2;
}

.table tbody span {
  color: #15b300;
}

.table .text-danger {
  color: #ff0018 !important;
}

footer {
  padding: 4rem 0 2rem;
}

footer a {
  display: block;
  margin-bottom: .5rem;
  color: #333;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

footer a:before {
  content: '\f053';
  font-family: 'font awesome 5 free';
  font-weight: 900;
  margin-left: .5rem;
}

footer a:hover {
  color: #00D6D1;
  text-decoration: none;
}

.footer_title {
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}
/*# sourceMappingURL=main.css.map */