.answer_title {
  position: relative;

  &:before {
    display: inline-block;
    content: '\f00c';
    font-family: 'font awesome 5 pro';
    font-weight: 900;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    background-color: #2fa400;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    margin-left: .5rem;
    font-size: .875rem;
  }
}