.main_breadcrumb {

  a,
  span {
    display: inline-block;
    border-radius: .25rem;

  }

  a {
    &:after {
      content: '\f053';
      font-family: 'font awesome 5 pro';
      font-weight: 900;
      margin: 0 .75rem;
      pointer-events: none;
    }

    &:hover {
      text-decoration: none;
    }
  }

}