.counter_section {
  background-color: #F8FFFF;
  padding: 1.5rem 0;
}

.counter_panel {
  text-align: center;

  span {
    width: 7rem;
    height: 7rem;
    line-height: 7rem;
    font-size: 3rem;
    text-align: center;
    display: inline-block;
    color: #6BD6D4;
    background: url('../imgs/Polygon\ 1.png') no-repeat;
  }

  p {
    color: #00D6D1;
    font-size: 2rem;
    font-weight: 700;
  }

  h3 {
    font-weight: 700;
  }
}