.event_cover {
  display: block;
  position: relative;

  img {
    height: 167px;
    width: 100%;
    object-fit: cover;
  }

  .event_status {
    position: absolute;
    left: 1.25rem;
    padding: .25rem .5rem;
    border-radius: .25rem;
    font-size: .875rem;
    color: #fff;
    top: .5rem;

    &.available {
      background-color: #00D66B;
    }

    &.not {
      background-color: #E23232;
    }
  }

  .event_date {
    background-color: #00000094;
    border-radius: 50%;
    width: 3rem;
    display: inline-block;
    height: 3rem;
    position: absolute;
    bottom: .5rem;
    color: #fff;
    right: .5rem;
    text-align: center;
  }
}

.event_details {
  background-color: #fff;
  padding: 1rem;
  margin-right: -1rem;
  border-radius: .25rem;

  h3 {
    font-size: 1rem;
    font-weight: 500;

    a {
      color: inherit;
    }
  }

  p {
    font-size: .875rem;
  }
}

.event_page {
  .event_cover {
    img {
      height: auto;
    }
  }
}

@media(max-width: 768px) {
  .event_cover {
    img {
      height: 250px;
    }

    .event_status {
      left: .5rem;
    }
  }

  .event_details {
    margin: 0;
  }
}