footer {
  padding: 4rem 0 2rem;

  a {
    display: block;
    margin-bottom: .5rem;
    color: #333;
    transition: $trans;

    &:before {
      content: '\f053';
      font-family: 'font awesome 5 free';
      font-weight: 900;
      margin-left: .5rem;
    }

    &:hover {
      color: $primaryColor;
      text-decoration: none;
    }
  }
}

.footer_title {
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}