.topbar {
  padding: .5rem 0;
}

.topbar_user {
  a {
    margin-left: 1.5rem;
    color: inherit;
    transition: $trans;

    &:hover {
      color: $primaryColor;
    }
  }
}

.social_links {
  a {
    display: inline-block;
    margin-right: 1.5rem;
    color: #BFBFBF;

    &:hover {
      color: $primaryColor;
    }
  }
}

#our_navbar {
  background-color: $primaryColor;
  padding: 0;

  .navbar-brand {
    padding: 0;
    margin: 0;

    img {
      width: 5.625rem;
    }
  }

  .navbar-toggler {
    color: #fff;
    border-color: transparent
  }

  .nav-link {
    padding: 0 1rem;
    line-height: 4rem;
    color: rgba(255, 255, 255, .8);
    font-size: 1.125rem;

    &:hover {
      background-color: darken($primaryColor, 5%);
    }
  }

  .nav-item.active {
    .nav-link {
      color: #fff;
    }
  }

  .dropdown-menu {
    text-align: right;
  }
}

.navbar_search_form {
  position: relative;

  input {
    background-color: #00BFBB;
    border-radius: .25rem;
    height: 2.5rem;
    padding-right: .75rem;
    min-width: 250px;
    color: #fff;

    &::placeholder {
      color: rgba(255, 255, 255, .7);
    }
  }

  button {
    background-color: #00A6A2;
    color: #fff;
    padding: .25rem .75rem;
    border-radius: .4rem;
    border: 0 none;
    position: absolute;
    left: .25rem;
    top: .25rem;

  }
}

.mobile_menu {
  position: fixed;
  background-color: #3d3d3d;
  right: -200px;
  width: 200px;
  height: 100%;
  z-index: 999;
  top: 0;
  transition: $trans;

  &.open {
    right: 0;
  }

  input[type=search] {
    background: #272727;
    display: block;
    padding: .75rem 1rem;
    width: 100%;
    color: #fff;

    &::placeholder {
      color: rgba(255, 255, 255, .7);
    }

  }

  .nav-link {
    padding: .75rem 1rem;
    display: block;
    color: rgba(255, 255, 255, .7);
  }

  .nav-item.active {
    .nav-link {
      color: #fff;
    }
  }

  .topbar_user {
    padding-top: .75rem;
    border-top: 1px solid #333;

    a {
      display: block;
      color: #fff;
      padding: .25rem 1rem;
      margin-left: 0;
    }
  }

  .social_links {
    margin-top: 1rem;
    padding-right: 1rem;

    a {
      margin-left: .75rem;
      margin-right: 0;
    }
  }
}

.menu_cart {
  button {
    color: darken($primaryColor, 30%);
    font-size: 1.25rem;
  }

  .badge {
    left: 0;
    font-size: .875rem;
  }

  .dropdown-menu {
    min-width: 12rem;
    padding: .5rem;

    li {
      img {
        width: 3rem;
      }
    }
  }
}

@media(max-width: 768px) {
  header>.topbar {
    display: none;
  }
}

@media(max-width: 992px) {
  #our_navbar {
    padding: 5px 15px;
  }
}