.news-holder {

  .news-content {
    position: absolute;
    background: #ededed;
    z-index: 10;
    top: 0;
    right: 15px;
    display: none;

    img {
      height: 245px;
      width: 100%;
      object-fit: cover;
    }

    &.top-content {
      display: block;
    }
  }

  .news-headlines {
    height: 213px;
    top: 1rem;
    margin-right: -1.5rem;
    overflow-y: auto;
    padding: 0;
    background: #fff;
    box-shadow: 0 0 10px #0000001A;
    border-radius: .25rem;
    position: relative;
    z-index: 99;

    li {
      display: block;
      cursor: pointer;
      padding: 1rem;
      font-weight: 500;
      border-bottom: 1px solid #e6e6e6;
      position: relative;
      z-index: 20;

      &:last-of-type {
        border-bottom: 0 none;
      }
    }

    .nh-anim {
      transition: all .5s ease-out;
      transform: translateZ(0);
    }

    .highlight {
      width: 100%;
      background: #ededed;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }
  }

  .news_slide_caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #00000096;
    color: #fff;
    padding: 1rem .5rem;

    h3 {
      font-size: 16px;
    }

    a {
      color: $primaryColor;
      font-weight: 500;
    }
  }
}

@media(max-width: 768px) {
  .news-headlines {
    display: none;
  }

  .news-holder .news-content {
    left: 15px;
  }
}