.share_news {
  border-bottom: 1px solid $primaryColor;

  a {
    color: inherit;
    display: inline-block;
    margin-left: .75rem;
    transition: $trans;

    &:hover {
      color: $primaryColor;
    }
  }

}