.pagination {
  .page-link {
    border: 0 none;
    background-color: transparent;
    color: #555;

    &:hover {
      background-color: #eee;
    }
  }

  li.active {
    .page-link {
      background: $primaryColor;
    }
  }
}