.single_report {
  position: relative;
  color: #fff;

  img {
    height: 245px;
    object-fit: cover;
  }

  .bottom_report {
    position: absolute;
    background-color: #00000096;
    bottom: 0;
    width: 100%;
    padding: 1rem .5rem;

    h3 {
      font-size: 1rem;
      font-weight: 500;
    }

    a {
      color: $primaryColor;
    }
  }

}

.second_slider {

  .owl-nav button[class*=owl-] {
    padding: .25rem .5rem !important;
    background-color: #00000082;
    color: #fff;
    position: absolute;
    font-size: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    border-radius: .25rem;
  }

  .owl-prev {
    right: -15px;
  }

  .owl-next {
    left: -15px;
  }
}