.single_product_block {
  transition: $trans;
  position: relative;
  top: 0;
  border: 1px solid #e6e6e6;

  &:hover {
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
    top: -.25rem;
  }

  button {
    width: 2rem;
    height: 2rem;
    line-height: 1.5rem;
    border-radius: 50%;
    background-color: #ddd;
    color: #999;
    transition: $trans;
  }

  &:hover {
    button {
      background: $primaryColor;
      color: #fff;
    }
  }
}

.product_features {
  li {
    margin-bottom: 1rem;
    display: inline-flex;
  }

  li span {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    background-color: lighten($primaryColor, 40%);
    color: darken($primaryColor, 20%);
    border-radius: 50%;
    font-size: .75rem;
    display: inline-block;
    margin-left: .5rem;
    text-align: center;
  }
}