.main_slider {

  .single_slide {
    height: 370px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: stretch;
    position: relative;
    overflow: hidden;

    [class*=col] {
      height: 100%;
    }

    .slide_caption {
      background-color: #00000078;
      height: 100%;
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      color: #fff;

      h3 {
        font-weight: 700;
      }

      p {
        color: #E4E4E4;
      }
    }

  }

  .owl-nav button[class*=owl-] {
    width: 4rem;
    line-height: 5rem;
    display: inline-block;
    background-color: #0000007D;
    color: #fff;
    border-radius: .25rem;
    position: absolute;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }

  .owl-prev {
    right: 0;
  }

  .owl-next {
    left: 0;
  }
}

@media(max-width: 768px) {
  .main_slider {
    .owl-nav button[class*=owl-] {
      width: inherit;
    }
  }
}