.table {
  font-size: .875rem;

  thead th {
    background: #e0e0e0
  }

  tr {
    background-color: #fff;
    border-bottom: 1px solid #eee;

    &:nth-of-type(even) {
      background-color: #f2f2f2;
    }
  }

  tbody span {
    color: #15b300;
  }

  .text-danger {
    color: #ff0018 !important;

  }
}