.main_btn {
  background-color: $primaryColor;
  color: #fff;
  font-weight: 500;
  padding: .5rem 1.5rem;
  border-radius: .25rem;
  transition: $trans;
  display: inline-block;

  &:hover {
    background-color: darken($primaryColor, 5%);
    color: #fff;
    text-decoration: none;
  }

  &.small_btn {
    padding: .5rem;
  }
}

.transparent_btn {
  border: 1px solid $primaryColor;
  padding: .5rem;
  color: $primaryColor;
  border-radius: .25rem;
  transition: $trans;

  &:hover {
    background-color: $primaryColor;
    color: #fff;
    text-decoration: none;
  }
}

.secondary_btn {
  background-color: #CCFFFE;
  border-radius: .25rem;
  color: darken($primaryColor, 10%);
  padding: .5rem;
  transition: $trans;

  &:hover {
    background-color: darken($color: #CCFFFE, $amount: 5%);
    text-decoration: none;
    color: $primaryColor;
  }
}

.main_form_input {
  height: 2.5rem;
  width: 100%;
  display: block;
  background-color: #f3f3f3;
  border: 1px solid #e6e6e6;
  padding: .5rem;
  border-radius: .25rem;

  &:focus {
    border-color: $primaryColor;
  }
}

.custom_radio {
  position: relative;
  display: inline-flex;
  align-items: center;

  input {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    z-index: 2;
    opacity: 0;
  }

  span {
    content: '';
    border: 2px solid #E6E6E6;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: inline-block;
    position: relative;

    &:before {
      content: '';
      width: .75rem;
      height: .75rem;
      background-color: $primaryColor;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      right: 50%;
      opacity: 0;
      transform: translate(50%, -50%) scale(1.1);
      transition: $trans;
    }
  }

  input:checked~span {
    border-color: $primaryColor;

    &:before {
      opacity: 1;
      transform: scale(1) translate(50%, -50%);
    }
  }
}

// fonts
.primary {
  color: darken($primaryColor, 10%);
}

.bold_font {
  font-weight: 700;
}

.medium_font {
  font-weight: 500;
}

.small_font {
  font-size: .875rem;
}

.color-inherit {
  color: inherit;
}

.grey {
  color: #777;
}

article {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
  }

  blockquote {
    background: lighten($primaryColor, 50%);
    padding: 1rem 1.5rem;
    font-style: italic;
    border-right: 1px solid $primaryColor;
  }

  a {
    @extend .primary;
    position: relative;
    display: inline-block;

    &:before {
      content: '';
      position: absolute;
      bottom: -.1rem;
      right: 0;
      background-color: $primaryColor;
      width: 100%;
      height: 1px;
    }
  }
}

.page_title {
  position: relative;
  display: inline-block;


  &:before,
  &:after {
    content: '';
    width: 3.5rem;
    height: 2px;
    position: absolute;
    background-color: $primaryColor;
    top: 50%;
  }

  &:before {
    right: -50%;
  }

  &:after {
    left: -50%;
  }
}