.widget_head {
  background-color: $primaryColor;

  h3 {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
  }

  a {
    background-color: #00A6A2;
    color: #fff;
    display: inline-block;
    padding: .5rem;
  }
}

.widget_links {
  padding: 0 1rem;
  background-color: #fff;

  a {
    display: block;
    border-top: 1px solid #e6e6e6;
    padding: .75rem 0;
    color: #333;

    i {
      color: #A1D6D5;
    }

    &:first-of-type,
    &:last-of-type {
      border: 0 none;
    }
  }

  .all_links {
    font-weight: 500;
    background-color: #F2FFFF;
    margin: 0 -1rem;
    padding: .75rem 1rem;
  }
}