$primaryColor: #00D6D1;
$trans: .25s ease-in-out;

* {
  border: 0 none;
  outline: 0 none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: transparent;
}

body {
  direction: rtl;
  text-align: right;
  font-family: 'Tajawal', sans-serif;
  background-color: #F6F6F6;
  color: #333;
}

img {
  max-width: 100%;
}

h3 {
  font-size: 1.5rem;
}


@import 'UI';
@import 'spacing';
@import 'header';
@import 'slider';
@import 'newsSlider';
@import 'widget';
@import 'counter';
@import 'event';
@import 'report';
@import 'partners';
@import 'shop';
@import 'pagination';
@import 'breadcrumb';
@import 'news';
@import 'answer';
@import 'board';
@import 'table';
@import 'footer';